.App {
  width: 60%;
}
.days{
  display: flex;
  margin-top: 1rem;
}

.day{
  margin: auto;
  text-align: center;
  padding: .5rem;
}

.dropdown{
  padding: .8rem;
  background-color: lightcyan;
}

.container{
  margin-left: 2rem;
}

.days .day:first-child{
  border: 1px solid gray;
}

.temp{
  font-size: .8rem;
}

.dayName{
  margin: 0px;
}